.top-buffer {
    margin-top:20px;
}
.andy_width {
    width: 100%
}
.checked {
    color: yellow;
}
.caption {
    text-align:center;
}
.cap_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
