{% extends 'navbar.html' %}

{% block title %}Admin{% endblock %}

{% block script %}

<script>
console.log("inside admin")


function onLoad(){
}
</script>

{% endblock %}

{% block navbar_admin %}<a class="nav-link active_custom" href="/admin">Admin</a>{% endblock %}
{% block pub_read_btn %}{% endblock %}
{% block pub_edit_btn %}{% endblock %}
{% block pub_del_btn %}{% endblock %}
{% block rev_read_btn %}{% endblock %}
{% block rev_add_btn %}{% endblock %}
{% block rev_edit_btn %}{% endblock %}
{% block rev_del_btn %}{% endblock %}
{% block search_btn %}{% endblock %}