<div class="row" style="margin-left:0px" id="id_row_{{field}}">
    <input type="text" name="{{field}}" id="{{field}}" style="display: none">
    <div id="div_rank1" style="width:30px">
        <input type="checkbox" id="rank1" name="rank1" style="display: none">
        {% if form_type != 'read' %}
            <script>document.getElementById("rank1").setAttribute("onclick", "starClick(1)");</script>
        {% endif %}
        <label for="rank1" id="id_img_rank1">
            <img src="/static/icons/star.png" width="30" height="30" id="img_rank1" name="img_rank1" style="opacity:0.25">
        </label>
    </div>
    <div id="div_rank2" style="width:30px">
        <input type="checkbox" id="rank2" name="rank2" style="display: none">
        {% if form_type != 'read' %}
            <script>document.getElementById("rank2").setAttribute("onclick", "starClick(2)");</script>
        {% endif %}
        <label for="rank2" id="id_img_rank2">
            <img src="/static/icons/star.png" width="30" height="30" id="img_rank2" name="img_rank2" style="opacity:0.25">
        </label>
    </div>
    <div id="div_rank3" style="width:30px">
        <input type="checkbox" id="rank3" name="rank1" style="display: none">
        {% if form_type != 'read' %}
            <script>document.getElementById("rank3").setAttribute("onclick", "starClick(3)");</script>
        {% endif %}
        <label for="rank3" id="id_img_rank3">
            <img src="/static/icons/star.png" width="30" height="30" id="img_rank3" name="img_rank3" style="opacity:0.25">
        </label>
    </div>
    <div id="div_rank4" style="width:30px">
        <input type="checkbox" id="rank4" name="rank4" style="display: none">
        {% if form_type != 'read' %}
            <script>document.getElementById("rank4").setAttribute("onclick", "starClick(4)");</script>
        {% endif %}
        <label for="rank4" id="id_img_rank4">
            <img src="/static/icons/star.png" width="30" height="30" id="img_rank4" name="img_rank4" style="opacity:0.25">
        </label>
    </div>
    <div id="div_rank5" style="width:30px">
        <input type="checkbox" id="rank5" name="rank5" style="display: none">
        {% if form_type != 'read' %}
            <script>document.getElementById("rank5").setAttribute("onclick", "starClick(5)");</script>
        {% endif %}
        <label for="rank5" id="id_img_rank5">
            <img src="/static/icons/star.png" width="30" height="30" id="img_rank5" name="img_rank5" style="opacity:0.25">
        </label>
    </div>
</div>
