<div class="row justify-content-center top-buffer">
    <a class="btn btn-primary" href="{{ url_for('pub_add') }}" role="button">Add New</a>
    <a class="btn btn-primary" href="{{ url_for('home') }}" role="button">Back to Home</a>
</div>
<div class="row top-buffer" style="margin-bottom: 125px;">
    <div class="col">
        <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Dinner icon made by <a href="https://www.flaticon.com/authors/pause08">Pause08</a><a> from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></div>
        <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Park and quiz icons made by <a href="https://www.flaticon.com/authors/freepik">Freepik</a><a> from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></div>
        <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Live sport icon made by <a href="https://www.flaticon.com/authors/Mihimihi">Mihimihi</a><a> from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></div>
        <p style="text-align:center; font-size:10px; margin: 0px; padding:0px">Toilet icon made by <a href="https://www.flaticon.com/authors/syafii5758">syafii5758</a><a> from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></p>
        <p style="text-align:center; font-size:10px; margin: 0px; padding:0px">Nightclub icon made by <a href="https://www.flaticon.com/authors/iconixar">iconixar</a><a> from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></p>
        <p style="text-align:center; font-size:10px; margin: 0px; padding:0px">Dartboard icon made by <a href="https://www.flaticon.com/authors/nhor-phai">Nhor Phai</a><a> from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></p>
        <p style="text-align:center; font-size:10px; margin: 0px; padding:0px">Pets icon made by <a href="https://www.flaticon.com/authors/darius-dan">Darius Dan</a><a> from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></p>
        <p style="text-align:center; font-size:10px; margin: 0px; padding:0px">Delete icon made by <a href="https://www.flaticon.com/authors/kliwir-art">Kliwir Art</a><a> from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></p>
        <p style="text-align:center; font-size:10px; margin: 0px; padding:0px">Search icon made by <a href="https://www.flaticon.com/authors/maxim-basinski-premium">Maxim Basinski</a><a> from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></p>
    </div>
</div>
