<div class="row top-buffer" style="border-top: 1px solid; margin: 5px 5px 125px 5px;">
    <div class="col">
        <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">All icons from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></div>
        <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Dog friendly made by <a href="https://www.flaticon.com/authors/darius-dan">Darius Dan</a></div>
        <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Live sports made by <a href="https://www.flaticon.com/authors/Mihimihi">Mihimihi</a></div>
        <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Outside space, cheap pint & quiz night made by <a href="https://www.flaticon.com/authors/freepik">Freepik</a></div>
        <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Past midnight made by <a href="https://www.flaticon.com/authors/iconixar">iconixar</a></div>
        <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Serves food made by <a href="https://www.flaticon.com/authors/pause08">Pause08</a></div>
        <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Clean toilets made by <a href="https://www.flaticon.com/authors/syafii5758">syafii5758</a></div>
        <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Pub games made by <a href="https://www.flaticon.com/authors/nhor-phai">Nhor Phai</a></div>
        <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Pool table and lively venue made by <a href="https://www.flaticon.com/authors/talha-dogar">Talha Dogar</a></div>
        <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Delete made by <a href="https://www.flaticon.com/authors/kliwir-art">Kliwir Art</a></div>
    </div>
</div>
