<div class="col">
    <div class="row justify-content-center top-buffer">
        <a class="btn btn-primary" href="{{ url_for('pub_add') }}" role="button">Add New</a>
    </div>
    <div class="row justify-content-center top-buffer">
        <div>Dinner icon made by <a href="https://www.flaticon.com/authors/pause08">Pause08</a><a> from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></div>
        <div>Park icon made by <a href="https://www.flaticon.com/authors/freepik">Freepik</a><a> from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></div>
        <div>Live sport icon made by <a href="https://www.flaticon.com/authors/Mihimihi">Mihimihi</a><a> from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></div>
        <div>Toilet icon made by <a href="https://www.flaticon.com/authors/syafii5758">syafii5758</a><a> from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></div>
        <div>Nightclub icon made by <a href="https://www.flaticon.com/authors/iconixar">iconixar</a><a> from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></div>
        <div>Dartboard icon made by <a href="https://www.flaticon.com/authors/nhor-phai">Nhor Phai</a><a> from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></div>
        <div>Pets icon made by <a href="https://www.flaticon.com/authors/darius-dan">Darius Dan</a><a> from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></div>
        <div>Delete icon made by <a href="https://www.flaticon.com/authors/kliwir-art">Kliwir art</a><a> from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></div>
    </div>
</div>