<div class="row top-buffer">
    <div class="col-12 center-block text-center">
        <strong>
        <a style="font-weight: bold; font-size: 16px; color: #000000; text-decoration: none; padding: 5px 0 0 0">Search pubs by feature</a>
        </strong>
    </div>
</div>
<!--<div class="row justify-content-center align-items-center" id="feature-list"></div>-->
<div class="form-group row">
    {% for field in config['control']['check'] %}
        <script>var id_img = "{{field}}" + "_img"</script>
        <div class="col" style="text-align: center;">
            <input type="checkbox" id="{{field}}" name="{{field}}" style="display: none;" onclick="myFunction('{{field}}')">
            <label for="{{field}}" >
                <img src="{{ url_for('static', filename='icons/' + field + '.png') }}" width="30" height="30" style="opacity: 1;">
            </label>
            <div class="caption" id="{{field}}_img"></div>
        </div>
        <script>
        switch('{{field}}') {
            case 'tv':
                name_label = "live sports"
                break;
            case 'garden':
                name_label = "outside space"
                break;
            case 'music':
                name_label = "live music"
                break;
            case 'late':
                name_label = "past midnight"
                break;
            case 'meals':
                name_label = "serves food"
                break;
            case 'toilets':
                name_label = "clean toilets"
                break;
            case 'cheap':
                name_label = "cheap pint"
                break;
            case 'games':
                name_label = "pub games"
                break;
            case 'pet':
                name_label = "pet friendly"
                break;
            default:
                name_label = "error"
        }
        document.getElementById("{{field}}_img").innerHTML += name_label;
        document.getElementById("{{field}}_img").style.fontSize = "x-small";
        document.getElementById("{{field}}_img").style.fontWeight = "bold";
        </script>
    {% endfor %}
</div>