{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block script %}
    {% include "scripts.html" %}

<script>
let markersArray = []
var on_line = map_load('{{google_key}}')
console.log('on_line')
console.log(on_line)
{% include "import_variables.html" %}

function onLoad(){
    console.log('home - onLoad')
    console.log('visible')
    console.log(visible)
    if ('{{pub_id}}' == '0') {
        page_layout('home')
    } else {
        page_layout('edit')
        click_pub('{{pub_id}}')
    }
    //add comment
    display_counter('{{counter}}');
}

function initMap() {
    console.log("initMap");
    map = show_map(51.52, -0.127)
    var markersArray = []
    if (on_line == 'true') {
        document.getElementById('search_map').style.display = 'block'
        console.log('all_data')
        console.log(all_data)
        var new_data = [{pub_name: "placeholder", pub_latitude: 51.52, pub_longitude: -0.127, colour: "#000000"}]
        console.log('new_data')
        console.log(new_data)
        add_markers(map, new_data)
        var defaultBounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(51.68, 0.3),      // N, E
          new google.maps.LatLng(51.40, -0.549));  // S, W

        const input = document.getElementById("search-input-navbar");
        const searchBox = new google.maps.places.SearchBox(input, {
            bounds: defaultBounds
        });
        listen_search(map, searchBox);
    }
}
</script>
{% endblock %}

{% block controls %}
    {% include "variables.html" %}
{% endblock %}

{% block sub_heading %}
<div id="list_header" style="display:none">
    <div id="search_header"></div>
</div>
{% endblock %}

{% block main %}
<div id="home_page">
    <div class="col-md-12 mx-auto" id="main">
        {% include "home_intro.html" %}
        <div class="row" style="padding: 10px; border:1px solid #0275d8;">
            <div class="col">
                {% include "home_station.html" %}
                {% include "home_week_header.html" %}
                {% include "home_week.html" %}
                {% include "home_features_header.html" %}
                {% include "home_features.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block left %}
<div id="list_page1" style="display:none">
    {% include "list_station.html" %}
    {% include "list_features.html" %}
</div>
<div id="the_map" style="display:none">
    {% include "list_map.html" %}
</div>
{% endblock %}

{% block right %}
<div id="list_page2" style="display:none">
    <div>
        {% include "list_week.html" %}
    </div>
    <div id="dynamic_table"></div>
</div>

<div id="pub_read" style="display:none">
    <form id="pub_form" method="post">
        <div class="form-group row">
            <div class="col">
                {% include "pub_form.html" %}
                {% include "pub_diary.html" %}
                {% include "pub_features.html" %}
            </div>
            {% include "pub_form_submit.html" %}
        </div>
    </form>
</div>
{% endblock %}

{% block counter %}
    {% include "counter.html" %}
{% endblock %}
