<div class="row">
    <div class="col-12 center-block text-center">
        <a href="/pub/areas" style="font-weight: bold; font-size: 16px; color: #000000; text-decoration: none;">Search pubs by area</a>
    </div>
</div>
<div class="row">
    <div class="col mx-auto">
        <div class="d-flex justify-content-center">
            <select class="form-control" id="direction" name="direction" onchange="direction_changed();" style="background-color: #FFFFFF; width:220px;">
                <option value="all">select direction</option>
                {% for direction in directions_list %}
                    <option value={{direction[0]}}>{{direction[1]}}</option>
                {% endfor %}
            </select>
            <a><img src="/static/icons/buttons/arrow.png" onClick="featureHome(zoom)" class="button_size"></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col mx-auto">
        <div class="d-flex justify-content-center" style="font-weight: bold;">
             and/or
        </div>
    </div>
</div>
<div class="row">
    <div class="col mx-auto">
        <div class="d-flex justify-content-center">
            <select class="form-control" id="station" name="station" onchange="station_changed();" style="background-color: #FFFFFF; width:220px;">
                <option value="all">select station</option>
                {% for x in stations_directions_list %}
                    <option value={{x[0]}}>{{x[1]}}</option>
                {% endfor %}
            </select>
            <a><img src="/static/icons/buttons/arrow.png" onClick="featureHome(zoom)" class="button_size"></a>
        </div>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-12 center-block text-center">
        <a href="/pub/areas" style="font-weight: bold; font-size: 16px; color: #000000; text-decoration: none;">or by favourite feature</a>
    </div>
</div>
