
all_data = {{ all_data | tojson }}
alias = {{ alias | tojson }}
check_list = {{ check_list | tojson}}
config2 = {{ config2 | tojson }}
date_list = {{ date_list | tojson }}
diary_headers = {{ diary_headers | tojson }}
directions_list = {{ directions_list | tojson }}
dropdown_list = {{ dropdown_list | tojson }}
fields_list = {{ fields_list | tojson }}
form_visible_list = {{ form_visible_list | tojson }}
headers = {{ headers | tojson }}
icon_list = {{ icon_list | tojson }}
input_list = {{ input_list | tojson }}
required_list = {{ required_list | tojson }}
slider_list = {{ slider_list | tojson }}
star_list = {{ star_list | tojson }}
stations_directions_list = {{ stations_directions_list | tojson }}
visible = {{ visible | tojson }}
