{% extends 'navbar.html' %}

{% block title %}Profile{% endblock %}

{% block script %}
<script>function onLoad(){}</script>
{% endblock %}

{% block full_screen %}
<p>LOGGED-IN</p>
<p>{{g.user.username}}'s PROFILE PAGE</p>
{% endblock %}

{% block navbar_profile %}<a class="nav-link active_custom" href="/login">Profile</a>{% endblock %}</li>
{% block pub_read_btn %}{% endblock %}
{% block pub_edit_btn %}{% endblock %}
{% block pub_del_btn %}{% endblock %}
{% block rev_read_btn %}{% endblock %}
{% block rev_add_btn %}{% endblock %}
{% block rev_edit_btn %}{% endblock %}
{% block rev_del_btn %}{% endblock %}
{% block search_btn %}{% endblock %}
