{% extends 'base.html' %}

{% block title %}Areas{% endblock %}

{% block script %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/layout.css') }}">
<script>
    areas = {{ areas | tojson }}

    function onLoad() {
        for (let i=0; i < areas.length; i++) {
            document.getElementById("block_" + i).innerHTML = "<div class='star_container'><a class='star_centre' href='/pub/list/area/" + areas[i]['area'] + "'><img alt='" + areas[i]['area'] + "' style='height:100px; width:150px;' src='../static/images/location/" + areas[i]['photo_identity'] + ".jpg') }}'/></a></div>"
        }
    }
</script>
{% endblock %}

{% block main %}
<div class="col-md-12 mx-auto" style="border-style:solid; background-color:#D3D3D3; border-width:thin">
    {% for rl in range(6) %}
        <div class="row" style="display: flex; align-items: center; margin=5px; object-fit: fit;">
            {% for cl in range(6) %}
                <div class="col-md-2 mx-auto" id="block_{{(rl*6)+cl}}" style="text-align: center; padding: 10px; object-fit: fit;"></div>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="row justify-content-center top-buffer">
        <a class="btn btn-primary" href="{{ url_for('home') }}" role="button">Back to Home</a>
    </div>
    {% include "footer.html" %}
</div>
{% endblock %}
