{% extends 'base.html' %}

{% block title %}Pub Details{% endblock %}

{% block script %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/check.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/layout.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/latlng_avg.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/show_map.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_markers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/map_listen_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/map_listen_bounds.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/listen_events.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/listen_search.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/listen_zoom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/class_event_handler.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/mouse_down_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/insert_line.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/populate_form.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/star_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/edit_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/feature_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/sum_score.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_listen_click.js') }}"></script>
<!--
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/listen_click_off.js') }}"></script>
-->
<script>form_type = {{ form_type | tojson }}</script>
<style>
.top-buffer {
    margin-top:20px;
}
.andy_width {
    width: 100%
}
.checked {
    color: yellow;
}
</style>

<script>
function onLoad(){
    console.log("onLoad in pub_read");
    form_type = {{ form_type | tojson }}

    pub_review = {{ pub_review | tojson }}
    pubs_reviews = {{ pubs_reviews | tojson }}
    summary = {{ summary | tojson }}
    full = {{ full | tojson }}

    input_list = {{ input_list | tojson }}
    dropdown_list = {{ dropdown_list | tojson }}
    slider_list = {{ slider_list | tojson }}
    check_list = {{ check_list | tojson }}
    console.log(check_list)
    date_controls = {{ date_list | tojson }}
    star_list = {{ star_list | tojson }}

    visible_list = {{ visible_list | tojson }}
    required_list = {{ required_list | tojson }}

    fields_list = {{ fields_list | tojson }}

    alias_list = {{ alias_list | tojson }}
    icon_list = {{ icon_list | tojson }}

    var js = document.createElement("script");
    js.type = "text/javascript";
    if ( window.navigator.onLine == true) {
        console.log('outside of function')
        js.src = 'https://maps.googleapis.com/maps/api/js?key={{google_key}}&libraries=places&callback=initMap'
        document.head.appendChild(js)
    } else {
        //alert('You appear to offline so maps cannot be displayed')
    }

    populate_form(form_type);
}

function initMap(){
    console.log("initMap in pub_read");
    if (form_type == 'add') {
        let { avg_lat, avg_lng } = latlng_avg(pubs_reviews);
    } else {
        let { avg_lat, avg_lng } = latlng_avg(pub_review);
    }
    zoom = 16
    showMap({{summary | tojson}}, {{full | tojson}}, zoom, avg_lat, avg_lng)
}

function showMap(summary, full, zoom, lat, lng){
    console.log('showMap')
    console.log('zoom: ' + zoom)
    map = show_map(lat, lng, zoom)
    key = {{ google_key | tojson }}
    stations = {{ stations | tojson }}
    areas = {{ areas | tojson }}
    data = pubs_reviews
    add_markers(map, zoom, data);
    if (form_type == 'read') {
        add_listen_click(map);
    }
    if (form_type == 'add') {
        var class_event_handler = new ClickEventHandler(map, origin, key, stations, areas);
        const input = document.getElementById("search-input-navbar");
        const searchBox = new google.maps.places.SearchBox(input);
        map_listen_click(map, stations, areas);
        listen_search(map, searchBox);
        map_listen_bounds(map, searchBox, stations, areas);
        function isIconMouseEvent(e) {
            console.log("place icon clicked")
            return "placeId" in e;
        }
    }
    /*
    if (form_type == 'edit') {
        listen_click_off(map);
    }
    */
}
</script>
{% endblock %}

{% block main %}
<div class="col-md-12 center-block text-center" style="background-color: #d9534f; ">
    <strong>
        <a style="font-weight: bold; font-size: 20px; color: white; text-decoration: none; padding: 5px 0 0 0">{{pub_review[0]['pub_name']}}</a>
    </strong>
</div>
{% endblock %}

{% block left %}
    <div class="row">
        <div id="map" class="map_height"></div>
    </div>
    {% if form_type == 'add' %}
        <div class="row">
            <input id="search-input-navbar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </div>
    {% endif %}
{% endblock %}

{% block right %}
{% if form_type != 'add' %}
    <div class="row">
        <a href="{{ url_for('photo_upload', pub_identity=pub_review[0]['pub_identity']) }}">
        <img class="map_height"
             src="{{ url_for('static', filename='images/venue/' + pub_review[0]['photo_identity'] + '.jpeg') }}"
             onerror="this.onerror=null; this.src='/static/icons/buttons/camera.png'"
             style="display: block; object-fit: cover;"
             alt="upload photo">
        </a>
    </div>
{% endif %}
{% endblock %}

{% block centre %}
    <div class="row justify-content-center align-items-center">
        <form action="{{ url_for('pub_read', pub_id=pub_review[0]['pub_identity']) }}" method="post">
            {% include "pub_form.html" %}

            <div class="form-group row" style="display: flex; align-items: center; background-color:#CDCDCD;">
                {% with auto_exec='off' %}
                    {% include "home_features.html" %}
                {% endwith %}
            </div>
            <div class="form-group row" style="margin: 15px 0;">
                {% if form_type == 'add' %}
                    <button id="submit" type="submit" class="btn btn-primary btn-block" name="submit" value="submit" disabled>Submit</button>
                    <div id="submit_message" class="font-size: 8px; text-align: center"><i>Click venue on map before submitting</i></div>
                    <div href="{{url_for('pub_read', pub_id=pub_review[0]['pub_identity'])}}" style="color:#d9534f">Cancel</div>
                {% elif form_type == 'edit' %}
                    <button id="submit" type="submit" class="btn btn-primary btn-block" name="submit" value="submit">Submit</button>
                    <div style="display:none;" id="submit_message" class="font-size: 8px; text-align: center"><i>Click venue on map before submitting</i></div>
                    <div href="{{url_for('pub_read', pub_id=pub_review[0]['pub_identity'])}}" style="color:#d9534f">Cancel</div>
                {% else %}
                    <button style="display:none;" id="submit" type="submit" class="btn btn-primary btn-block" name="submit" value="submit">Submit</button>
                    <div style="display:none;" id="submit_message" class="font-size: 8px; text-align: center"><i>Click venue on map before submitting</i></div>
                    <div style="display:none;" href="{{url_for('pub_read', pub_id=pub_review[0]['pub_identity'])}}" style="color:#d9534f">Cancel</div>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
