
{% for field in config['pub']['column'] %}
    {% if field in config['pub']['visible'] %}
        <div class="form-group row" id="row_{{field}}">
            <div class="col" style="text-align:right; width:75px; padding:0px; margin:0px;">
                <label class="col-form-label" style="width:75px; padding:0px; margin:0px;" for="{{field}}" >{{field}}</label>
            </div>
            <div class="col" id="div_{{field}}" style="width:220px; text-align:left; visibility:visible; display:block; text-align:left" >
                {% if field in config['control']['dropdown'] %}
                    {% include "control_dropdown.html" %}
                {% elif field in config['control']['star'] %}
                    {% include "control_star.html" %}
                {% elif field in config['control']['slider'] %}
                    {% include "control_slider.html" %}
                {% elif field in config['control']['date'] %}
                    {% include "control_date.html" %}
                {% else %}
                    <input style="text-align:left; visibility:visible; display:block; width:220px;" class="form-control" type='text' name="{{field}}" id="{{field}}">
                    {% if form_type == 'read' %}
                        <script>document.getElementById("{{field}}").setAttribute("readonly", "true");</script>
                    {% endif %}
                {% endif %}
                {% if field in config['control']['required'] %}
                    <script>document.getElementById("{{field}}"}).required = true</script>
                {% endif %}
            </div>
            <div class="col" style="padding:0px; margin:0px;" >
                {% if form_type == 'read' %}
                    <img id="edit_{{field}}" src="/static/icons/buttons/edit.png" onclick="editClick('{{field}}')" style="width:30px; height:30px; margin:0px; padding:0px;">
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="form-group row" id="row_{{field}}" style="display: none;">
            <div class="col">
                <label class="col-form-label" for="{{field}}" style="display: none;"></label>
            </div>
            <div class="col" id="div_{{field}}">
                <input class="form-control" type='text' name="{{field}}" id="{{field}}" style="display: none;">
            </div>
        </div>
    {% endif %}

{% endfor %}
