{% extends 'navbar.html' %}

{% block title %}Pub Details{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='javascript/show_map.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/add_markers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/map_listen_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/map_listen_bounds.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/listen_events.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/listen_search.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/class_event_handler.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/mouse_down_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/insert_line.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/populate_form.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/sum_score.js') }}"></script>
<script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key={{google_key}}&libraries=places&callback=initMap"></script>
<script>
function onLoad(){
    console.log("onLoad in pub_read");
    pub_review = {{ pub_review | tojson }}
    pub_fields = {{ pub_fields | tojson }}
    review_fields = {{ review_fields | tojson }}
    pub_review_fields = {{ pub_review_fields | tojson }}
    input_controls = {{ input_controls | tojson }}
    dropdown_controls = {{ dropdown_controls | tojson }}
    slider_controls = {{ slider_controls | tojson }}
    score_list = {{ score_list | tojson }}
    form = {{ form | tojson }}
    populate_form(form);
}

function initMap(){
    console.log("initMap in pub_read");
    pub_review = {{ pub_review | tojson }}
    key = {{ google_key | tojson }}
    lat = pub_review[0]['latitude']
    lng = pub_review[0]['longitude']
    zoom = 19
    map = show_map(lat, lng, zoom)
    add_markers(map, zoom, pub_review)
}

</script>
{% endblock %}

{% block full_screen %}<div id="map" style="width:100%; height:350px;"></div>{% endblock %}

{% block form %}
    {% include "pub_form.html" %}
{% endblock %}

{% block pub_read_btn %}<a class="nav-link active_custom" href="{{ url_for('pub_read', pub_id=pub_review[0]['pub_identity']) }}">View</a>{% endblock %}</li>
{% block rev_read_btn %}{% endblock %}
{% block rev_add_btn %}{% endblock %}
{% block rev_edit_btn %}{% endblock %}
{% block rev_del_btn %}{% endblock %}

{% block search_btn %}{% endblock %}