<div class="row">
    <div id="map" style="border: 1px solid #0275d8" class="map_height"></div>
</div>
{% if form_type == 'add' %}
    <div class="row">
        <input id="search-input-navbar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </div>
{% endif %}

<script>
function initMap(){
    console.log("initMap in pub_read");
    zoom = {{map_zoom}}
    //let { avg_lat, avg_lng } = latlng_avg(pubs_selection);
    pubs_reviews = {{pubs_reviews | tojson}}
    pubs_selection = {{pubs_selection | tojson}}
    lat = {{map_lat}}
    lng = {{map_lng}}

    map = show_map(lat, lng)

    add_markers(map, pubs_selection)
    listen_bounds_changed(map, pubs_reviews)

    key = {{ google_key | tojson }}
    stations = {{stations | tojson}}
    areas = {{areas | tojson}}

    form_type = {{ form_type | tojson}}
    if (form_type == 'read' || form_type == 'list') {
        add_listen_click(map, lat, lng);
    }
    data = pubs_reviews
    if (form_type == 'add') {
        var class_event_handler = new ClickEventHandler(map, origin, key, data);
        const input = document.getElementById("search-input-navbar");
        const searchBox = new google.maps.places.SearchBox(input);
        listen_search(map, searchBox);
        map_listen_bounds(map, searchBox, data);
    }
    if (form_type == 'add' || form_type == 'edit') {
        listen_events(lat, lng, data)
        map_listen_click(map, data)
        function isIconMouseEvent(e) {
            console.log("place icon clicked")
            return "placeId" in e;
        }
    }
    const center = new google.maps.LatLng(lat, lng);
    add_listen_click(map, lat, lng);
    //var class_event_handler = new ClickEventHandler(map, origin, key, stations, areas);
    //const input = document.getElementById("search-input-navbar");
    //const searchBox = new google.maps.places.SearchBox(input);
    //listen_search(map, searchBox);
    function isIconMouseEvent(e) {
        console.log("place icon clicked")
        return "placeId" in e;
    }
    window.map.panTo(center);
    //add_marker_bounds(map, data);
    current_zoom = map.getZoom();
    console.log(current_zoom)
}

</script>