{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block script %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='jquery/css/jquery.dataTables.min.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/layout.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='jquery/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/create_table.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/filter_table.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/feature_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/feature_search.js') }}"></script>
<script>

    function onLoad() {
        console.log('pub_search')
        var config = {{ config | tojson }}
        config2 = {{ config2 | tojson }}
        env = config2['env']
        pubs_reviews = {{ pubs_reviews | tojson }};

        if ({{ tv | tojson }} == 'true') {
            document.getElementById("tv").checked = {{ tv | tojson }}
            document.getElementById("tv_caption").style.opacity = "1.00"
            document.getElementById("tv_img").style.opacity = "1.00";
            document.getElementById("tv_col").style.background = "#0275D8";
        }
        if ({{ garden | tojson }} == 'true') {
            document.getElementById("garden").checked = {{ garden | tojson }}
            document.getElementById("garden_caption").style.opacity = "1.00"
            document.getElementById("garden_img").style.opacity = "1.00";
            document.getElementById("garden_col").style.background = "#0275D8";
        }
        if ({{ music | tojson }} == 'true') {
            document.getElementById("music").checked = {{ music | tojson }}
            document.getElementById("music_caption").style.opacity = "1.00"
            document.getElementById("music_img").style.opacity = "1.00";
            document.getElementById("music_col").style.background = "#0275D8";
        }
        if ({{ late | tojson }} == 'true') {
            document.getElementById("late").checked = {{ late| tojson }}
            document.getElementById("late_caption").style.opacity = "1.00"
            document.getElementById("late_img").style.opacity = "1.00";
            document.getElementById("late_col").style.background = "#0275D8";
        }
        if ({{ meals | tojson }} == 'true') {
            document.getElementById("meals").checked = {{ meals | tojson }}
            document.getElementById("meals_caption").style.opacity = "1.00"
            document.getElementById("meals_img").style.opacity = "1.00";
            document.getElementById("meals_col").style.background = "#0275D8";
        }
        if ({{ tv | tojson }} == 'true') {
            document.getElementById("tv").checked = {{ tv | tojson }}
            document.getElementById("tv_caption").style.opacity = "1.00"
            document.getElementById("tv_img").style.opacity = "1.00";
            document.getElementById("tv_col").style.background = "#0275D8";
        }
        if ({{ toilets | tojson }} == 'true') {
            document.getElementById("toilets").checked = {{ toilets | tojson }}
            document.getElementById("toilets_caption").style.opacity = "1.00"
            document.getElementById("toilets_img").style.opacity = "1.00";
            document.getElementById("toilets_col").style.background = "#0275D8";
        }
        if ({{ cheap | tojson }} == 'true') {
            document.getElementById("cheap").checked = {{ cheap | tojson }}
            document.getElementById("cheap_caption").style.opacity = "1.00"
            document.getElementById("cheap_img").style.opacity = "1.00";
            document.getElementById("cheap_col").style.background = "#0275D8";
        }
        if ({{ games | tojson }} == 'true') {
            document.getElementById("games").checked = {{ games | tojson }}
            document.getElementById("games_caption").style.opacity = "1.00"
            document.getElementById("games_img").style.opacity = "1.00";
            document.getElementById("games_col").style.background = "#0275D8";
        }
        if ({{ pool | tojson }} == 'true') {
            document.getElementById("pool").checked = {{ games | tojson }}
            document.getElementById("pool_caption").style.opacity = "1.00"
            document.getElementById("pool_img").style.opacity = "1.00";
            document.getElementById("pool_col").style.background = "#0275D8";
        }
        if ({{ lively | tojson }} == 'true') {
            document.getElementById("lively").checked = {{ games | tojson }}
            document.getElementById("lively_caption").style.opacity = "1.00"
            document.getElementById("lively_img").style.opacity = "1.00";
            document.getElementById("lively_col").style.background = "#0275D8";
        }
        Search()
    }

</script>
{% endblock %}

{% block main %}
<div class="col-md-12 mx-auto">
    <div class="row" style="display: flex; align-items: center; border-style:solid; background-color:#D3D3D3; border-width:thin">
        {% with auto_exec='on' %}
            {% include "home_features.html" %}
        {% endwith %}
    </div>
</div>
{% endblock %}

{% block centre %}
    {% include "buttons.html" %}
    {% include "footer.html" %}
{% endblock %}
