<div class="row">
    <div id="map" style="border: 1px solid #0275d8" class="map_height"></div>
</div>
{% if form_type == 'add' %}
    <div class="row">
        <input id="search-input-navbar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </div>
{% endif %}

<script>
    function initMap(){
    console.log("initMap in pub_read");
    zoom = 13
    form_type = {{ form_type | tojson }}

    if (form_type == 'add') {
        data = {{pubs_reviews | tojson}}
    } else {
        data = {{pub_review | tojson}}
    }
    showMap(data, zoom, {{map_lat}}, {{map_lng}})
}

function showMap(data, zoom, lat, lng){
    console.log('showMap')
    map = show_map(lat, lng, zoom)
    key = {{ google_key | tojson }}
    data = {{pubs_reviews | tojson}}
    stations = {{stations | tojson}}
    areas = {{areas | tojson}}
    add_markers(map, zoom, data);
    if (form_type == 'read' || form_type == 'list'){
        add_listen_click(map);
    }
    if (form_type == 'add') {
        var class_event_handler = new ClickEventHandler(map, origin, key, data);
        const input = document.getElementById("search-input-navbar");
        const searchBox = new google.maps.places.SearchBox(input);
        listen_search(map, searchBox);
        map_listen_bounds(map, searchBox, data);
    }
    if (form_type == 'add' || form_type == 'edit') {
        listen_events(lat, lng, data)
        map_listen_click(map, data)
        function isIconMouseEvent(e) {
            console.log("place icon clicked")
            return "placeId" in e;
        }
    }
    const center = new google.maps.LatLng(lat, lng);
    console.log('lat: ' + lat)
    console.log('lng: ' + lng)
    window.map.panTo(center);
}

</script>