{% extends 'base.html' %}

{% block title %}Pub Details{% endblock %}

{% block script %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/check.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/layout.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/latlng_avg.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/show_map.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_markers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_marker_bounds.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_listen_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/map_listen_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/map_listen_bounds.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/listen_events.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/listen_search.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/listen_zoom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/class_event_handler.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/mouse_down_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/nearest_station.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/insert_line.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/populate_form.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/shade_stars.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/star_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/edit_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/feature_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/go_add.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/go_station.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/station_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/sum_score.js') }}"></script>

<!--
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/listen_click_off.js') }}"></script>
-->
<script>form_type = {{ form_type | tojson }}</script>

<script>

</script>

<style>
.fa-quora {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.horizontal-gradient {
    background: linear-gradient(to right, blue, pink);
}
.top-buffer {
    margin-top:20px;
}
.andy_width {
    width: 100%
}
.checked {
    color: yellow;
}
</style>

<script>
function onLoad(){

    //alert({{response}})
    console.log("onLoad in pub_read");
    form_type = {{ form_type | tojson }}
    config2 = {{config2 | tojson }}
    pubs_selection = {{ pubs_selection | tojson }}
    input_list = {{ input_list | tojson }}
    dropdown_list = {{ dropdown_list | tojson }}
    slider_list = {{ slider_list | tojson }}
    check_list = {{ check_list | tojson }}
    //console.log(check_list)
    date_controls = {{ date_list | tojson }}
    star_list = {{ star_list | tojson }}

    form_visible_list = {{ form_visible_list | tojson }}
    required_list = {{ required_list | tojson }}

    fields_list = {{ fields_list | tojson }}

    alias_list = {{ alias_list | tojson }}
    icon_list = {{ icon_list | tojson }}

    var js = document.createElement("script");
    js.type = "text/javascript";
    if ( window.navigator.onLine == true) {
        console.log('outside of function')
        js.src = 'https://maps.googleapis.com/maps/api/js?key={{google_key}}&libraries=places&callback=initMap'
        document.head.appendChild(js)
    } else {
        var elem = document.createElement("img");
        elem.src = "/static/icons/no-wifi.png"
        elem.className = "fa-quora"
        elem.height = "100"
        document.getElementById('map').appendChild(elem);
        //alert('You appear to offline so maps cannot be displayed')
    }

    populate_form(form_type);

}


</script>
{% endblock %}

{% block main %}
<div class="col-md-12 center-block text-center" style="background-color: #0275d8">
    <div style="font-weight: bold; font-size: 20px; color: white; text-decoration: none; padding: 5px 0 0 0">{{pubs_selection[0]['pub_name']}}</div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div style="font-weight: bold">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% endblock %}

{% block left %}
    {% include "pub_map.html" %}
{% endblock %}

{% block centre %}
<div class="col-md-12 mx-auto" id="main">
    <div class="row justify-content-center align-items-center">
        <form action="{{ url_for('pub_read', pub_id=pubs_selection[0]['pub_identity']) }}" method="post">
            {% include "pub_form.html" %}

            <div class="form-group row" style="display: flex; align-items: center; background-color:#CDCDCD; border-style:solid; background-color:#D3D3D3; border-width:thin">
                {% with auto_exec='off' %}
                    {% include "home_features.html" %}
                {% endwith %}
            </div>
            <div class="form-group row" style="margin: 15px 0;">
                {% if form_type == 'add' %}
                    <button id="submit" type="submit" class="btn btn-primary btn-block" name="submit" value="submit" disabled>Submit</button>
                    <div id="submit_message" class="font-size: 8px; text-align: center"><i>Click venue on map before submitting</i></div>
                    <div href="{{url_for('pub_read', pub_id=pubs_selection[0]['pub_identity'])}}" style="color:#d9534f">Cancel</div>
                {% elif form_type == 'edit' %}
                    <button id="submit" type="submit" class="btn btn-primary btn-block" name="submit" value="submit">Submit</button>
                    <div style="display:none;" id="submit_message" class="font-size: 8px; text-align: center"><i>Click venue on map before submitting</i></div>
                    <div href="{{url_for('pub_read', pub_id=pubs_selection[0]['pub_identity'])}}" style="color:#d9534f">Cancel</div>
                {% else %}
                    <button style="display:none;" id="submit" type="submit" class="btn btn-primary btn-block" name="submit" value="submit">Submit</button>
                    <div style="display:none;" id="submit_message" class="font-size: 8px; text-align: center"><i>Click venue on map before submitting</i></div>
                    <div style="display:none;" href="{{url_for('pub_read', pub_id=pubs_selection[0]['pub_identity'])}}" style="color:#d9534f">Cancel</div>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
