{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block script %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='jquery/css/jquery.dataTables.min.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/layout.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='jquery/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/create_table.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/filter_table.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/feature_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/feature_search.js') }}"></script>
<script>

    function onLoad() {
        console.log('pub_search')
        key_list = {{ key_list | tojson }}
        var config = {{ config | tojson }}
        config2 = {{ config2 | tojson }}
        headers = {{ headers | tojson }}
        visible = {{ visible | tojson }}
        form_obj = {{ form_obj | tojson }}
        review_list = {{ review_list | tojson }}
        env = config2['env']
        pubs_reviews = {{ pubs_reviews | tojson }};
        Object.keys(form_obj).forEach(function(key) {
            if (form_obj[key] == 'true') {
                document.getElementById(key).checked = true
                document.getElementById(key + "_caption").style.color = "white"
                document.getElementById(key + "_caption").style.opacity = "1.00"
                document.getElementById(key + "_img").style.opacity = "1.00";
                document.getElementById(key + "_col").style.background = "#0275D8";
            }
        })
        Search(headers, visible)
    }

</script>
{% endblock %}

{% block main %}
<div class="col-md-12 mx-auto">
    <div class="row" style="display: flex; align-items: center; border-style:solid; background-color:#D3D3D3; border-width:thin">
        {% with auto_exec='on' %}
            {% include "home_features.html" %}
        {% endwith %}
    </div>
</div>
{% endblock %}

{% block centre %}
    <div class="row" style="display: flex; align-items: center; background-color:#D3D3D3; overflow-x:scroll;">
        {% include "search_table.html" %}
    </div>
{% endblock %}
