
<button id="submit" type="submit" class="btn btn-primary btn-block" name="submit" value="submit">Submit</button>
<div id="submit_message" class="font-size: 8px; text-align: center"><i>Click venue on map before submitting</i></div>
<div><a id="submit_link" href="{{url_for('pub_read', pub_id=pubs_selection[0]['pub_identity'])}}">Cancel</a></div>

<script>
    elem_submit_btn = document.getElementById('submit')
    elem_submit_msg = document.getElementById('submit_message')
    elem_submit_lnk = document.getElementById('submit_link')
    if (form_type == 'add') {
        elem_submit_btn.disabled = true
        elem_submit_lnk.setAttribute("style","color:#d9534f;");
    } else if (form_type == 'edit') {
        elem_submit_btn.disabled = false
        elem_submit_msg.setAttribute("style","display:none;");
        elem_submit_lnk.setAttribute("style","color:#d9534f;");
    } else {
        elem_submit_btn.setAttribute("style","display:none;");
        elem_submit_msg.setAttribute("style","display:none;");
        elem_submit_lnk.setAttribute("style","display:none;");
    }
</script>
