
{% for field in config['pub']['column'] %}
    {% if field in config['pub']['visible'] %}
        <div class="form-group row" id="row_{{field}}">
            <div class="col" style="text-align:right">
                <label class="col-form-label" for="{{field}}" >{{field}}</label>
            </div>
            <div class="col" id="div_{{field}}" style="text-align:left; visibility:visible; display:block; text-align:left" >
                {% if field in config['control']['dropdown'] %}
                    {% include "control_dropdown.html" %}
                {% elif field in config['control']['star'] %}
                    {% include "control_star.html" %}
                {% elif field in config['control']['slider'] %}
                    {% include "control_slider.html" %}
                {% elif field in config['control']['date'] %}
                    {% include "control_date.html" %}
                {% else %}
                    <input style="text-align:left; visibility:visible; display:block;" size="50" class="form-control" type='text' name="{{field}}" id="{{field}}">
                    {% if form_type == 'read' %}
                        <script>document.getElementById("{{field}}").setAttribute("readonly", "true");</script>
                    {% endif %}
                {% endif %}
                {% if field in config['control']['required'] %}
                    <script>document.getElementById("{{field}}"}).required = true</script>
                {% endif %}
            </div>
            <div class="col" >
                {% if form_type == 'read' %}
                    <a href="{{ url_for('pub_edit', pub_id=pub_review[0]['pub_identity']) }}">
                        <img src="/static/icons/buttons/edit.png" style="width:30px;height:30px;">
                    </a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="form-group row" id="row_{{field}}" style="display: none;">
            <div class="col">
                <label class="col-form-label" for="{{field}}" style="display: none;"></label>
            </div>
            <div class="col" id="div_{{field}}">
                <input class="form-control" type='text' name="{{field}}" id="{{field}}" style="display: none;">
            </div>
        </div>
    {% endif %}

{% endfor %}
