{% extends 'navbar.html' %}

{% block title %}Add New Pub{% endblock %}

{% block script %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/check.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/latlng_avg.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/show_map.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_markers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_listen_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/map_listen_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/map_listen_bounds.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/listen_events.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/listen_search.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/listen_zoom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/class_event_handler.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/mouse_down_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/insert_line.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/populate_form.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/sum_score.js') }}"></script>
<script>
var js = document.createElement("script");
js.type = "text/javascript";
if ( window.navigator.onLine == true) {
    js.src = 'https://maps.googleapis.com/maps/api/js?key={{google_key}}&libraries=places&callback=initMap'
    document.head.appendChild(js)
} else {
    alert('You appear to offline so maps cannot be displayed')
}
</script>
<script>
    pub_review = {{ pub_review | tojson }}
    console.log(pub_review)
    pubs_reviews = {{ pubs_reviews | tojson }}
    summary = {{ summary | tojson }}
    full = {{ full | tojson }}
</script>

<script>
function onLoad(){
    console.log("onLoad in add pub");
    config = {{ config | tojson }}
    pub_fields = config['pub']['column']
    review_fields = config['review']['column']
    pub_review_fields = config['pub']['column'].concat(config['review']['column'])
    input_controls = config['control']['input']
    dropdown_controls = config['control']['dropdown']
    slider_controls = config['control']['slider']
    check_controls = config['control']['check']
    score_list = config['review']['score']

    form = {{ form_type | tojson }}
    populate_form(form)
}

function initMap(){
    let { avg_lat, avg_lng } = latlng_avg(pubs_reviews);
    zoom = 13
    showMap(summary, full, zoom, avg_lat, avg_lng)
}

function showMap(summary, full, zoom, lat, lng){
    console.log('showMap')
    console.log('zoom: ' + zoom)
    map = show_map(lat, lng, zoom)
    key = {{ google_key | tojson }}
    stations = {{ stations | tojson }}
    areas = {{ areas | tojson }}
    data = full
    add_markers(map, zoom, data);
    var class_event_handler = new ClickEventHandler(map, origin, key, stations, areas);
    const input = document.getElementById("search-input-navbar");
    const searchBox = new google.maps.places.SearchBox(input);
    //add_listen_click();
    map_listen_click(map, stations, areas);
    listen_search(map, searchBox);
    map_listen_bounds(map, searchBox, stations, areas);
    function isIconMouseEvent(e) {
        console.log("place icon clicked")
        return "placeId" in e;
    }
}

</script>
{% endblock %}

{% block full_screen %}<div id="map" style="width:100%; height:400px;"></div>{% endblock %}

{% block form %}
<form action="{{ url_for('pub_read', pub_id=pub_review[0]['pub_identity']) }}" method="post">
    {% include "pub_form.html" %}
    <div class="form-group row" style="margin: 15px 0;">
        <button id="submit" type="submit" class="btn btn-primary btn-block" name="submit" value="submit" disabled>Submit</button>
    </div>
</form>
{% endblock %}

{% block pub_add_btn %}<a class="nav-link active_custom" href="{{ url_for('pub_add') }}">Add New Venue</a>{% endblock %}
{% block pub_read_btn %}{% endblock %}
{% block pub_edit_btn %}{% endblock %}
{% block pub_del_btn %}{% endblock %}
{% block rev_read_btn %}{% endblock %}
{% block rev_add_btn %}{% endblock %}
{% block rev_edit_btn %}{% endblock %}
{% block rev_del_btn %}{% endblock %}