{% extends 'base.html' %}

{% block title %}Areas{% endblock %}

{% block script %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/layout.css') }}">
<script>
    function onLoad() {

    }
</script>
{% endblock %}

{% block main %}
<div class="col-xs-12 mx-auto" style="background-color:#D3D3D3;">
    {% for rl in range(no_of_rows) %}
        <script>console.log({{no_of_rows}})</script>
        <div class="row" style="text-align: center; margin=5px;">
            {% for cl in range(no_of_columns) %}
                {% if ((rl*no_of_columns)+cl < areas |length) %}
                    <div class="col-xs-2 star_container">
                        <img class="area_icons"
                             onerror="this.onerror=null;this.src='/static/icons/camera.png'"
                             src="{{ url_for('static', filename='images/location/' + areas[(rl*no_of_columns)+cl]['photo_identity'] + '.jpeg') }}">
                        <div class="star_centre" id="block_{{(rl*no_of_columns)+cl}}">
                            <a href="/pub/list/area/{{areas[(rl*no_of_columns)+cl]['area']}}"
                               style="text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; display: block; color: white; text-align: center; font-size: 11px; text-decoration: none; line-height: 15px">
                                {{areas[(rl*no_of_columns)+cl]['area']}}
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="col-xs-2 star_container">
                        <img class="area_icons"
                             src="">
                        <div style="color: white; text-align: center; font-size:11px; font-weight: bold;" class="star_centre"></div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
