{% extends 'base.html' %}

{% block title %}Listing View{% endblock %}

{% block script %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='jquery/css/jquery.dataTables.min.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/layout.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/latlng_avg.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/show_map.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/map_load.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_markers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_marker_bounds.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_listen_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/listen_bounds_changed.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery/js/jquery.dataTables.min.js') }}"></script>
<!--
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/create_table.js') }}"></script>
-->
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/feature_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/feature_home.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/feature_list.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/station_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/go_add.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/filter_table.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/go_station.js') }}"></script>

<script>
function onLoad() {
    console.log("onLoad in pub_list");

    zoom = {{ map_zoom }}
    pubs_selection = {{ pubs_selection | tojson }};
    headers = {{ headers | tojson }}
    visible = {{ visible | tojson }}
    filter = {{ filter | tojson }}
    total_rows = {{ total_rows | tojson }}
    var header_listing = String(filter['0']).toUpperCase() + String(filter).substring(1)
    document.getElementById("header_listing").innerHTML = header_listing + " (" + total_rows + ")"
    SearchDay(headers, visible)

}

</script>
{% endblock %}

{% block main %}
<div class="col-md-12 center-block text-center" style="background-color: #0275d8">
    <a class="mx-auto" id="header_listing" style="height:25px; font-size:20px; color: white"></a>
</div>
{% endblock %}

{% block left %}

{% endblock %}

{% block right %}
    <div class="row" style="display: flex; align-items: center; background-color:#D3D3D3; overflow-x:scroll;">
        {% include "search_table.html" %}
    </div>
{% endblock %}
