{% extends 'base.html' %}

{% block title %}Listing View{% endblock %}

{% block script %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='jquery/css/jquery.dataTables.min.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/layout.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/latlng_avg.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/show_map.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/map_load.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_markers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_marker_bounds.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_listen_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/listen_bounds_changed.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/feature_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/feature_home.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/feature_list.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/station_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/go_add.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/filter_table.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/go_station.js') }}"></script>

<script>
function onLoad() {
    console.log("onLoad in pub_list");

<!--    zoom = {{ map_zoom }}-->
    var map_lat = {{ map_lat | tojson }}
    var map_lng = {{ map_lng | tojson }}
    pubs_reviews = {{ pubs_reviews | tojson }};
    pubs_selection = {{ pubs_selection | tojson }};
    headers = {{ headers | tojson }}
    visible = {{ visible | tojson }}
    order = {{ order | tojson }}
    form_obj = {{ form_obj | tojson }}
    station = {{ station | tojson }}
    direction = {{ direction | tojson }}
    day = {{ day | tojson }}
    icon_list = {{ icon_list | tojson }}
    config2 = {{ config2 | tojson }}
    form_type = {{form_type | tojson}}
    filter = {{ filter | tojson }}
    total_rows = {{ total_rows | tojson }}
    var header_listing = String(filter['0']).toUpperCase() + String(filter).substring(1)
    document.getElementById("header_listing").innerHTML = header_listing + " (" + total_rows + ")"

    Object.keys(form_obj).forEach(function(key) {
        if (form_obj[key] == 'all') {
            document.getElementById(key).checked = true
            document.getElementById(key + "_caption").style.color = "white"
            document.getElementById(key + "_caption").style.opacity = "1.00"
            document.getElementById(key + "_img").style.opacity = "1.00";
            document.getElementById(key + "_col").style.background = "#0275D8";
        } else if (form_obj[key] == 'some') {
            document.getElementById(key).checked = false
            document.getElementById(key + "_caption").style.color = "black"
            document.getElementById(key + "_caption").style.opacity = "1.00"
            document.getElementById(key + "_img").style.opacity = "1.00";
            document.getElementById(key + "_col").style.border = "thick solid #0275D8";
        } else {
            document.getElementById(key).checked = false
            document.getElementById(key + "_caption").style.color = "black"
            document.getElementById(key + "_caption").style.opacity = "0.25"
            document.getElementById(key + "_img").style.opacity = "0.25";
        }
    })
    Search(headers, visible, order)
    mapLoad('{{google_key}}', form_type, station);
    document.getElementById('day').value = day;
    if (day != 'all') {
        document.getElementById(day).checked = true
        document.getElementById(day + "_img").style.opacity = "1.0"
    }
}

</script>
{% endblock %}

{% block main %}
<div class="col-md-12 center-block text-center" style="background-color: #0275d8">
    <a class="mx-auto" id="header_listing" style="height:25px; font-size:20px; color: white"></a>
</div>
{% endblock %}

{% block left %}
    {% with auto_exec='on' %}
        {% include "home_features.html" %}
    {% endwith %}
    {% include "pub_map.html" %}
{% endblock %}

{% block right %}
    <div>
        {% with auto_exec='on' %}
            {% include "pub_week.html" %}
        {% endwith %}
    </div>
    <div class="row justify-content-center" style="overflow-x:scroll;">
        {% include "search_table.html" %}
    </div>
{% endblock %}
