{% extends 'navbar.html' %}

{% block title %}Map View{% endblock %}

{% block script %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{google_key}}&libraries=marker&callback=initMap" type="text/javascript"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/latlng_avg.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/show_map.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_markers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_listen_click.js') }}"></script>

<script>
function listen_zoom(map, summary, full) {
    map.addListener('center_changed', function() {
        console.log('center_change')
    })
    map.addListener('zoom_changed', function() {
        var newZoom = map.getZoom();
        showMap(summary, full, map.getZoom(), map.getCenter().lat(), map.getCenter().lng())
    });
}
function onLoad(){
    console.log("onLoad in pub_map")
    switch(map_view) {
        case 'all':
            document.getElementById("all_pubs").checked = true;
            break;
        case 'new':
            document.getElementById("new_pubs").checked = true;
            break;
        case 'reviewed':
            document.getElementById("reviewed_pubs").checked = true;
            break;
        }
}
function showMap(summary, full, zoom, lat, lng){
    console.log('showMap')
    console.log('zoom: ' + zoom)
    map = show_map(lat, lng, zoom)
    if (zoom < 15) {
        console.log('zoom<15: ' + zoom)
        data = summary
    } else {
        console.log('zoom>=15: ' + zoom)
        data = full
    }
    add_markers(map, zoom, data);
    add_listen_click();
    listen_zoom(map, summary, full)
}
function initMap(){
    map_view =  {{ map_view | tojson }}
    summary = {{ summary | tojson }}
    full = {{ full | tojson }}
    let { avg_lat, avg_lng } = latlng_avg(summary);
    zoom = 13
    showMap(summary, full, zoom, avg_lat, avg_lng)
}
function all_pubs(){
    location.href = "/pub/map/all";
}
function new_pubs(){
    var lat = map.getCenter().lat()
    var lng = map.getCenter().lat()
    var zoom = map.getZoom()
    location.href="/pub/map/new"
}
function reviewed_pubs(){
    location.href = "/pub/map/reviewed";
}
</script>
{% endblock %}

{% block slider %}
  <div class="form-check-inline">
      <label class="form-check-label" style="color:#0275d8;">
          <input type="radio" class="form-check-input" name="optradio" id="all_pubs" value="1" onclick="all_pubs()" />All
      </label>
  </div>
  <div class="form-check-inline">
      <label class="form-check-label" style="color:#553D67;">
          <input type="radio" class="form-check-input" name="optradio" id="new_pubs" value="2" onclick="new_pubs()">New
      </label>
  </div>
  <div class="form-check-inline">
      <label class="form-check-label" style="color:#FF0000;">
          <input type="radio" class="form-check-input" name="optradio" id="reviewed_pubs" value="3" onclick="reviewed_pubs()">Reviewed
      </label>
  </div>
{% endblock %}

{% block full_screen %}<div id="map" style="width:100%; height:450px;"></div>{% endblock %}

{% block pub_read_btn %}{% endblock %}
{% block pub_edit_btn %}{% endblock %}
{% block pub_del_btn %}{% endblock %}
{% block rev_read_btn %}{% endblock %}
{% block rev_add_btn %}{% endblock %}
{% block rev_edit_btn %}{% endblock %}
{% block rev_del_btn %}{% endblock %}
{% block search_btn %}{% endblock %}