<div class="form-group row collapse" id="review_collapse">
    <div class="col" id="rev_vis"></div>
</div>

<div class="row justify-content-center" style="display: flex; align-items: center; margin: 15px 0;">
    <button type="button" class="btn btn-outline-primary btn-block" data-toggle="collapse"
            data-target="#review_collapse"
            style="display:none">Review</button>
</div>

{% for field in config['review']['column'] %}
    {% if field in config['review']['visible'] %}
        <script>insert_line('rev_vis', '{{form}}', '{{field}}', 'text', '{{config['review']['required']}}', '{{config['control']['date']}}', '{{config['control']['input']}}', '{{config['control']['dropdown']}}', '{{config['control']['slider']}}', '{{config['control']['check']}}', '{{config['control']['star']}}')</script>
    {% else %}
        <script>insert_line('rev_vis', '{{form}}', '{{field}}', 'hidden', '{{config['review']['required']}}', '{{config['control']['date']}}', '{{config['control']['input']}}', '{{config['control']['dropdown']}}', '{{config['control']['slider']}}', '{{config['control']['check']}}', '{{config['control']['star']}}')</script>
    {% endif %}
{% endfor %}
