<table id="pub_list" class="table table-striped" style="font-size:14px;">
    <thead>
        <tr>
            {% for k in headers %}
                <th>{{alias[k]}}</th>
            {% endfor %}
        </tr>
    </thead>
    {% for i in range(pubs_selection |length) %}
        <tr>
            {% for k in headers %}
                {% if (k != 'rank') %}
                    {% if k == 'station_name' %}
                        <td style="vertical-align: middle;"><a href="#" onclick="stationClick('{{pubs_selection[i]['station_identity']}}')">{{pubs_selection[i][k]}}</a></td>
                    {% else %}
                        <td style="vertical-align: middle;"><a href="/pub/{{pubs_selection[i]['pub_identity']}}">{{pubs_selection[i][k]}}</a></td>
                    {% endif %}
                {% else %}
                    <td><div class="star_container">
                        {% if (pubs_selection[i][k] != 0) %}
                            <img src="/static/icons/star.png" style="width:30px;height:30px;opacity:0.25;">
                            <div class="star_centre" id="rounder">{{pubs_selection[i][k]}}</div>
                        {% else %}
                            <img src="/static/icons/star.png" style="width:30px;height:30px;opacity:0.25;">
                            <div class="star_centre"></div>
                        {% endif %}
                    </div></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
