<input type="text" class="hide_x_boxes" id="load" value="">

<input type="text" class="hide_x_boxes" id="form_type" value="home">
<input type="text" class="hide_x_boxes" id="auto_exec" value="off">

<input type="text" class="hide_x_boxes" id="x_direction" value="all">
<input type="text" class="hide_x_boxes" id="x_direction_name" value="">

<input type="text" class="hide_x_boxes" id="x_station" value="all">
<input type="text" class="hide_x_boxes" id="x_station_name" value="">
<input type="text" class="hide_x_boxes" id="x_pub_identity" value="">
<input type="text" class="hide_x_boxes" id="x_day" value="all">

<input type="text" class="hide_x_boxes" id="x_brunch" value="false">
<input type="text" class="hide_x_boxes" id="x_dart" value="false">
<input type="text" class="hide_x_boxes" id="x_entertain" value="false">
<input type="text" class="hide_x_boxes" id="x_favourite" value="false">
<input type="text" class="hide_x_boxes" id="x_garden" value="false">
<input type="text" class="hide_x_boxes" id="x_history" value="false">
<input type="text" class="hide_x_boxes" id="x_late" value="false">
<input type="text" class="hide_x_boxes" id="x_music" value="false">
<input type="text" class="hide_x_boxes" id="x_pool" value="false">
<input type="text" class="hide_x_boxes" id="x_quiz" value="false">
<input type="text" class="hide_x_boxes" id="x_roast" value="false">
<input type="text" class="hide_x_boxes" id="x_sport" value="false">
