
{% for field in review_fields %}
    <script>console.log("{{field}}")</script>
    {% if field in form_visible_list %}
        <script>console.log("{{field}}: visible")</script>
        <div class="form-group row" id="row_{{field}}" >
            <label class="col-xs-2 col-form-label" for="{{field}}" style="margin: auto; visibility: visible; display: block;">"{{field}}"</label>
            {% if field in dropdown_list %}
                <div class="col-xs-6" id="div_{{field}}">
                    <select class="form-control" id="{{field}}" name="{{field}}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            {% elif field in star_list %}
                <div class="col-xs-6" id="div_{{field}}" style="padding-left:30px">
                    <input type="text" id="{{field}}" name="{{field}}" style="display: none">
                    <div class="row" id="id_row_{{field}}">
                        <div id="div_{{field}}1">
                            <input id="{{field}}1" type="checkbox" name="{{field}}1" style="display: none" onclick="starClick(1)"
                            <label id="id_img_{{field}}1"for="{{field}}1" >
                                <img id="img_{{field}}1" name="img_{{field}}1" src="/static/icons/star.png" width="30" height="30" style="opacity:0.25">
                            </label>
                        </div>
                        <div id="div_{{field}}2">
                            <input id="{{field}}2" type="checkbox" name="{{field}}2" style="display: none" onclick="starClick(1)"
                            <label id="id_img_{{field}}2"for="{{field}}2" >
                                <img id="img_{{field}}2" name="img_{{field}}2" src="/static/icons/star.png" width="30" height="30" style="opacity:0.25">
                            </label>
                        </div>
                        <div id="div_{{field}}3">
                            <input id="{{field}}3" type="checkbox" name="{{field}}3" style="display: none" onclick="starClick(1)"
                            <label id="id_img_{{field}}3"for="{{field}}3" >
                                <img id="img_{{field}}3" name="img_{{field}}3" src="/static/icons/star.png" width="30" height="30" style="opacity:0.25">
                            </label>
                        </div>
                        <div id="div_{{field}}4">
                            <input id="{{field}}4" type="checkbox" name="{{field}}4" style="display: none" onclick="starClick(1)"
                            <label id="id_img_{{field}}4"for="{{field}}4" >
                                <img id="img_{{field}}4" name="img_{{field}}4" src="/static/icons/star.png" width="30" height="30" style="opacity:0.25">
                            </label>
                        </div>
                        <div id="div_{{field}}5">
                            <input id="{{field}}5" type="checkbox" name="{{field}}5" style="display: none" onclick="starClick(1)"
                            <label id="id_img_{{field}}5"for="{{field}}5" >
                                <img id="img_{{field}}5" name="img_{{field}}5" src="/static/icons/star.png" width="30" height="30" style="opacity:0.25">
                            </label>
                        </div>
                    </div>
                </div>
            {% elif field in slider_list %}
                <div class="slider_col" id="div_{{field}}" style="margin: auto" >
                    <div class="slidecontainer" id="slider_div_{{field}}" style="margin: auto; width: 100%"
                    <input type="range" id="{{field}}" name="{{field}}" class="slider" min="0" max="10" value="0" style="width: 100%">
                    <div class="col" id="value_div_{{field}}">
                        <div id="value_{{field}}" class="col score" style="font-family:copperplate; font-size:40px; margin: auto"
                    </div>
                </div>
            {% elif field in date_list %}
                <div class="col-xs-6" id="div_{{field}}">
                    <input type="date" id="{{field}}" name="{{field}}" placeholder="dd-mmm-yyyy"
                </div>
            {% elif field in check_list %}

            {% else %}
                <div class="col-xs-6" id="div_{{field}}" style="visibility: visible; display: block;">
                    <input type="text" class="form-control" name="{{field}}" style="visibility: visible; display: block;">
                </div>
                {% if field in required_list %}
                    document.getElementById({{field}}).required = true;
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        <div class="form-group row" id="row_{{field}}" >
            <label class="col-xs-2 col-form-label" for="{{field}}" style="margin: auto; display: none;">"{{field}}"</label>
            {% if field in dropdown_list %}
                <div class="col-xs-6" id="div_{{field}}">
                    <select class="form-control" id="{{field}}" name="{{field}}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            {% elif field in star_list %}
                <div class="col-xs-6" id="div_{{field}}" style="padding-left:30px">
                    <input type="text" id="{{field}}" name="{{field}}" style="display: none">
                    <div class="row" id="id_row_{{field}}">
                        <div id="div_{{field}}1">
                            <input id="{{field}}1" type="checkbox" name="{{field}}1" style="display: none" onclick="starClick(1)"
                            <label id="id_img_{{field}}1"for="{{field}}1" >
                                <img id="img_{{field}}1" name="img_{{field}}1" src="/static/icons/star.png" width="30" height="30" style="opacity:0.25">
                            </label>
                        </div>
                        <div id="div_{{field}}2">
                            <input id="{{field}}2" type="checkbox" name="{{field}}2" style="display: none" onclick="starClick(1)"
                            <label id="id_img_{{field}}2"for="{{field}}2" >
                                <img id="img_{{field}}2" name="img_{{field}}2" src="/static/icons/star.png" width="30" height="30" style="opacity:0.25">
                            </label>
                        </div>
                        <div id="div_{{field}}3">
                            <input id="{{field}}3" type="checkbox" name="{{field}}3" style="display: none" onclick="starClick(1)"
                            <label id="id_img_{{field}}3"for="{{field}}3" >
                                <img id="img_{{field}}3" name="img_{{field}}3" src="/static/icons/star.png" width="30" height="30" style="opacity:0.25">
                            </label>
                        </div>
                        <div id="div_{{field}}4">
                            <input id="{{field}}4" type="checkbox" name="{{field}}4" style="display: none" onclick="starClick(1)"
                            <label id="id_img_{{field}}4"for="{{field}}4" >
                                <img id="img_{{field}}4" name="img_{{field}}4" src="/static/icons/star.png" width="30" height="30" style="opacity:0.25">
                            </label>
                        </div>
                        <div id="div_{{field}}5">
                            <input id="{{field}}5" type="checkbox" name="{{field}}5" style="display: none" onclick="starClick(1)"
                            <label id="id_img_{{field}}5"for="{{field}}5" >
                                <img id="img_{{field}}5" name="img_{{field}}5" src="/static/icons/star.png" width="30" height="30" style="opacity:0.25">
                            </label>
                        </div>
                    </div>
                </div>
            {% elif field in slider_list %}
                <div class="slider_col" id="div_{{field}}" style="margin: auto" >
                    <div class="slidecontainer" id="slider_div_{{field}}" style="margin: auto; width: 100%"
                    <input type="range" id="{{field}}" name="{{field}}" class="slider" min="0" max="10" value="0" style="width: 100%">
                    <div class="col" id="value_div_{{field}}">
                        <div id="value_{{field}}" class="col score" style="font-family:copperplate; font-size:40px; margin: auto"
                    </div>
                </div>
            {% elif field in date_list %}
                <div class="col-xs-6" id="div_{{field}}">
                    <input type="date" id="{{field}}" name="{{field}}" placeholder="dd-mmm-yyyy"
                </div>
            {% elif field in check_list %}

            {% else %}
                <div class="col-xs-6" id="div_{{field}}" style="visibility: visible; display: none;">
                    <input type="text" class="form-control" name="{{field}}" style="visibility: visible; display: none;">
                </div>
                {% if field in review2_required_list %}
                    document.getElementById({{field}}).required = true;
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
